fastapi==0.115.0
uvicorn==0.32.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.11
python-jose[cryptography]==3.4.0
passlib[argon2]==1.7.4
python-multipart==0.0.20
pydantic==2.4.2
python-dotenv==1.0.0
PyJWT==2.8.0
